Ask {{ num_of_questions }} new integration {{ "problem" if  num_of_questions==1 else "problems" }} from AI agent to solve.
{% if chat_history %}
Your chat history with the AI agent:
{{ chat_history }}
{% endif %}
### Output format
{% raw %}
{ "questions": question_array }
{% endraw %}
