Generate {{ num_of_questions }} more {{ "question" if  num_of_questions==1 else "questions" }} sample integration problem that the user can ask you. I need only the list of questions in a JSON array.

### Output format
{% raw %}
{ "questions": question_array }
{% endraw %}
