Now generate {{ num_of_questions }} more {{ "question" if  num_of_questions==1 else "questions" }} that I can ask you to improve the above integration solution. I need only the questions in a JSON array.

### Output format
{% raw %}
{ "questions": question_array }
{% endraw %}
