# Special instructions when generating Synapse
* Follow the best practices when generating Synapse artifacts.
* Always create a separate file for  endpoints.
* Always use call mediator instead of send mediator.
* Never use outSequence. It is DEPRECATED.
