{% if context %}
My current PROJECT is attached below. Use this to understand my current project and answer my QUESTION.
PROJECT:
{% for item in context %}
{{ item }}
{% endfor %}
QUESTION: {{ question }}
{% else %}
{{ question }}
{% endif %}
